<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{index::Layout(~{::section})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DashBoard Page</title>

</head>
<body>
<section>

    <span class="badge text-bg-secondary text-center">Welcome, Admin Dashboard Page</span></h1>
    <div class="text-center">
    <img th:src="@{'/media/'+${user.profile}}" class="rounded" alt="Avatar" style="width:200px">
    </div>

    <div class="card text-center">
        <div class="card-header">
            Profile
        </div>
        <div class="card-body">
            <h5 class="card-title" th:text="${user.userFirstName+' '+user.userLastName}">Special title treatment</h5>
            <p class="card-text" th:text="${user.role}">With supporting text below as a natural lead-in to additional content.</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profileModal">
                Update
            </button>
            <form th:action="@{/delete-process}" method="post">
                <input type="hidden" th:value="${user.id}">
            <button type="submit" class="btn btn-danger">
                Delete
            </button>
            </form>
        </div>
        <div class="card-footer text-body-secondary">
           <p>Login id : <span th:text="${user.email}"></span> </p>
        </div>
    </div>
    <br>
    <!-- Button trigger modal -->
<!--    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profileModal">-->
<!--        Profile-->
<!--    </button>-->

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#usersModal">
       View Users
    </button>
    <!-- Profile -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="profileModalLabel">Update</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/update-process}" th:object="${user}" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}">
                        <div class="mb-3">
                            <label for="profileFormControlInput1" class="form-label">FirstName</label>
                            <input type="text" class="form-control" name="firstName" th:value="${user.userFirstName}"
                                   id="profileFormControlInput1" placeholder="Enter first name here">
                        </div>

                        <div class="mb-3">
                            <label for="profileFormControlInput2" class="form-label">LastName</label>
                            <input type="text" class="form-control" name="lastName" th:value="${user.userLastName}"
                                   id="profileFormControlInput2" placeholder="Enter last name here">
                        </div>

                        <div class="mb-3">
                            <label for="profileFormControlInput3" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password"
                                   id="profileFormControlInput3" placeholder="Enter new password here">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Users -->
    <div class="modal fade" id="usersModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Role</th>
                            <th scope="col">Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="e,iterator : ${usersList}">
                            <th scope="row" th:text="${iterator.index+1}">1</th>
                            <td th:text="${e.userFirstName}">Mark</td>
                            <td th:text="${e.userLastName}">Otto</td>
                            <td th:text="${e.role}">@mdo</td>
                            <td th:text="${e.isEnabled}">@mdo</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>